@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor01: #13151E;
    --cor02: #381C66;
    --cor03: #444A65;
    --cor04: #58658D;
    --cor05: #6C80B8;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --titulo: 'Righteous', cursive;
}

body {
    background-color: var(--cor05);
    font-family: var(--fonte-padr);
}

#principal {
    font-size: 4em;
    text-align: center;
    padding: 50px;
    font-family: var(--titulo);
    color: var(--cor01);
}

header {
    background-image: linear-gradient(to bottom, var(--cor02), transparent);
}

main {
    min-width: 350px;
    max-width: 800px;
    background-color: white;
    
}

footer {
    background-color: var(--cor01);
    color: rgb(167, 167, 167);
}

footer > p {
    padding: 5px;
    text-align: center;
}