@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor01: #13151E;
    --cor02: #381C66;
    --cor03: #444A65;
    --cor04: #58658D;
    --cor05: #6C80B8;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --titulo: 'Righteous', cursive;
}

body {
    background-color: var(--cor04);
    font-family: var(--fonte-padrão);
}

header > h1 {
    font-size: 4em;
    text-align: center;
    padding: 50px;
    font-family: var(--titulo);
    color: var(--cor01);
}

header {
    background-image: linear-gradient(to bottom, var(--cor02), transparent);
}

nav {
    padding: 30px;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
}

nav > a {
    text-align: center;
    padding: 10px;
    margin-right: 70px;
    border-radius: 4px;
    color: var(--cor01);
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.30s;
}

nav > a:hover {
    background-color: var(--cor01);
    color: var(--cor05);
}

main {
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 20px 10px;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.514);
}

article {
    text-align: justify;
    padding: 30px;
    list-style-position: inside;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
}


article img { 
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

#diabetes {
    max-width: 300px;
}

div {
    padding: 30px;
}

div > a {
    color: var(--cor04);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.20s;
    padding: 7px;
    border-radius: 5px;
}

div > a:hover {
    color: var(--cor01);
    text-decoration: underline;
    font-size: 1.5em;
    background-color: var(--cor05);
}

a:active {
    color: white;
    background-color: black;
}

article > h1 {
    color: var(--cor03);
    text-decoration: underline;
}

article > h2{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--cor02);
    background-image: linear-gradient(to right, var(--cor05), transparent);
    border-radius: 5px 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
    text-align: center;
}

button {
    background-color: var(--cor02);
    border: var(--cor01) 4px;
    padding: 8px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: var(--cor01);
    transition-duration: 0.20s;
}

button > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-padrão);
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
}

button:hover {
    background-color: var(--cor03);
}

button:hover > a {
    font-size: 1.5em;

}

footer {
    background-color: var(--cor01);
    color: rgb(167, 167, 167);
    margin-top: 50px;
}

footer > p {
    padding: 5px;
    text-align: center;
}